<!-- public/views/menu.ejs -->
<!doctype html>
<html>
<head>
    <title>Pizza Pi Menu</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <!-- load fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <!-- load toastr -->

    <link href="/css/default.css" rel="stylesheet" type="text/css">

    <style>
        body {
            padding-top: 80px;
        }

    </style>
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--jquery is needed for toaster to work-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <!-- This is a jquery plugin for using cookies -->
    <script>
        var orderArray = [];
            function addMenuItem(clicked_id) {
                var button = document.getElementById(clicked_id);
                var code = button.getAttribute('data-id');
                
                orderArray.push(code);

                console.log(orderArray);
                
                toastr.success("successfully added " + clicked_id);
            }

            function cookifyOrder(order){ //order is the JS array of order codes
                var orderString = JSON.stringify(order);
                Cookies.set("order", orderString); //set cookie with JQuery
                console.log(Cookies.get("order"));
            }
    </script>
<div class="container">

    <div class="jumbotron text-center">
        <h1></span></span>Put menu in here</h1>
    </div>

    <div>
            <table>
                <th>Name</th><th>Price</th><th>Description</th><th></th>
                
                <% for(var key in menu) {%>
                    <% var menuItemKey = Object.keys(menu[key]) %>
                    <% var menuItem = menu[key][menuItemKey] %>                    
                    
                <tr>
                    <td><%= menuItem.Name %></td>
                    <td><%= menuItem.Price %></td>
                    <td><%= descriptionMenu[menuItem.ProductCode].Description %></td>
                    <td><button id="<%= menuItem.Name %>" onclick="addMenuItem(this.id)" data-id="<%= menuItem.Code%>">Add</button></td>
                </tr>

                <% } %>
                   
            </table>
    </div>
</div>
<a onclick="cookifyOrder(orderArray)"  style="position:fixed;top:20px;left:40px" class="btn btn-default"><span class="fas fa-shopping-cart"></span> Checkout</a>
</body>
</html>